html {
  background-color: #a3a599;
  color: #01fc01;
}

html,
a,
button {
  color: #01fc01;
}

#helmetTop {
  background-color: #444;
  border-color: #31302b;
}

#helmetBottom {
  background-color: #777;
  border-color: #31302b;
}

#currentTitle,
#currentArtist {
  color: #b0e0ff;
}

#screenBorder1 {
  border-color: #5c5a51;
}

#screenBorder2 {
  border-image: linear-gradient(to bottom right, #aba485, #625f49) 1;
}

#screenBorder3 {
  border-color: #46443e;
}

#screenBorder4 {
  border-color: #2a2f16;
  border-right-color: #888960;
  border-bottom-color: #888960;
}

#outerDetail1 {
  background-image: linear-gradient(to bottom, #d2c5ad 0%, #2a2f16);
  border-color: #5c5a51;
}

#outerDetail2 {
  background-color: #737058;
  border-color: #5c5a51;
}
#outerDetail3 {
  background-image: linear-gradient(to bottom, #d2c5ad 30%, #2a2f16);
  border-color: #5c5a51;
}
#outerDetail4 {
  background-color: #d2c5ad;
  border-color: #5c5a51;
}

#monitorBackground {
  background-color: #000;
}

#monitorDetail {
  background-image: linear-gradient(to top left, #151714, #2b2f2a 70%, #646665);
}

.divider {
  background-image: linear-gradient(to right, #01fc01 75%, transparent 25%);
}

hr {
  background-color: #2a2f16;
  border-color: #5c5a51;
}

#contactLine,
#socials,
#socials a {
  color: #2a2f16;
  text-shadow:
    -1px -1px 0 #5c5a51,
    1px -1px 0 #5c5a51,
    -1px 1px 0 #5c5a51,
    1px 1px 0 #5c5a51;
}
