@import url("https://font.nmscd.com/assets/font/NMSGeoSans_Kerned/Web-TT/NMSGeoSans_Kerned.css");

@font-face {
  font-family: "3270";
  src:
    url(../fonts/3720/3270-Regular.woff) format("woff"),
    url(../fonts/3720/3270-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "3270", sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  cursor: none !important;
}

.inactive {
  display: none !important;
}

p {
  margin: 0;
}

#custom-pointer {
  position: fixed;
  pointer-events: none;
  z-index: 500;
  width: 1440px;
  height: 2447px;
  background: url(../assets/Hand.png) no-repeat;
  background-size: contain;
  top: -3000px;
  left: -3000px;
  transform: translate(-5.7%, -4.5%);
  will-change: left, top;
}

#overlay {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  z-index: 998;
}

#helmet {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#helmetTop {
  position: relative;
  width: 75%;
  height: 5%;
  filter: blur(5px);
  border-radius: 0 0 100% 100%;
  border: 4px solid;
  top: -4%;
}

#helmetBottom {
  position: relative;
  width: 30%;
  height: 7%;
  filter: blur(5px);
  border-radius: 100% 100% 0 0;
  border: 4px solid;
  bottom: -4%;
}

#perspective {
  overflow: hidden;
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
}

#visual {
  overflow: visible;
  display: flex;
  flex-direction: column;
  width: 250%;
  height: 200%;
  align-items: center;
  justify-content: center;
  transform: rotateX(0deg);
  transform: translateY(0px);
}

#outerDetail1 {
  overflow: visible;
  width: 300%;
  height: 100px;
  background-image: linear-gradient(to bottom, #d2c5ad, #2a2f16);
  border: 3px solid;
  margin-bottom: -15px;
}

#outerDetail3 {
  overflow: visible;
  width: 300%;
  height: 100px;
  border: 3px solid;
  margin-top: -15px;
}

#outerDetail2 {
  overflow: visible;
  width: 300%;
  height: 200px;
  border: 3px solid;
  margin-bottom: 15px;
}

#outerDetail4 {
  overflow: visible;
  width: 300%;
  height: 200px;
  border: 3px solid;
  margin-top: 15px;
}

#screenBorder1 {
  width: 80%;
  height: 65%;
  border: 3px solid;
}

#screenBorder2 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 70px solid;
}

#screenBorder3 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 3px solid;
}

#screenBorder4 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 65px solid;
}

#monitorBackground {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#monitorDetail {
  position: absolute;
  box-sizing: border-box;
  width: 97%;
  height: 97%;
  filter: blur(6px);
  z-index: 49;
}

.active {
  position: relative;
  box-sizing: border-box;
  width: 97%;
  height: 97%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.divider {
  width: 100%;
  border: none;
  height: 2px;
  background-size: 40px 100%;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

li {
  list-style: square;
  font-size: 35px;
}

ul {
  margin: 0px;
}

#menuScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menuButton {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#startingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoText {
  font-size: 25px;
}

.project,
.experience,
.setting {
  margin-top: 20px;
  margin-bottom: 20px;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleReturn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screenContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
}

#musicPlayer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
}

#certificationsText {
  margin-top: 40px;
}

#aboutMe {
  display: flex;
  align-items: space-between;
  justify-content: center;
}

#aboutMe div {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#avatar {
  width: 30%;
}

#contactLine {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  transform: translateY(-70px);
  font-family: "NMSGeoSans", "3270";
}

#socials {
  display: flex;
  font-size: 30px;
  align-items: center;
}

.volumeText {
  width: 500px;
}

#pixelationText {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pixelationStatus {
  width: 30%;
}

.volumeSlider {
  appearance: none;
  width: stretch;
  height: 10px;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 0px;
}

hr {
  border: 1px solid;
  margin: 5px;
  height: 100%;
  width: 1px;
}
